.library{
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/bg1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .container{
        width: 80vw;
        height: 80vh;
        border-radius: 50px;
        color:#eeee;
        background-color: rgb(0 0 0 / 76%);
        display: grid;
        grid-auto-rows: .1fr .1fr auto;
        padding:2% 4%;
        text-align: left;
        h1{
            font-size: xxx-large;
            margin-bottom: .5rem;
                font-family: "Tiny5", sans-serif;
                font-weight: 400;
                font-style: normal;
                margin-top:0 ;
        }
        h3{
            margin-top:0;
            font-family: "Chakra Petch", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem 0 0; 
            .viewAll{
                border-radius: 20px;
                padding: 10px 20px;
                background-color: transparent;
                border: solid 1px purple;
                text-decoration: none;
                color: #eeee;
            }:active{
                background-color: purple;
                color: white;
            }
            h5{
                font-family: "Chakra Petch", sans-serif;
                font-weight: 600;
                font-style: normal;
                font-size: large;
                margin:0;
            }
        }
    .scrollView{
        width: 80vw;
        height: 60vh;
        max-width: 80vw;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        justify-content: space-evenly;
        row-gap: 1.5rem;
    }
    }
}